[submodule "lib/Annex"]
	path = lib/Annex
	url = git@github.com:harlo/UnveillanceAnnex.git
[submodule "lib/jpeg/jpeg-redaction"]
	path = lib/jpeg/jpeg-redaction
	url = git@github.com:harlo/Jpeg-Redaction-Library.git
[submodule "lib/jpeg/JavaMediaHasher"]
	path = lib/jpeg/JavaMediaHasher
	url = git@github.com:n8fr8/JavaMediaHasher.git
